
<div class="container">
  <div class="left">
    <input #input type="text" placeholder="search .." class="input"[(ngModel)]="searchSentence" />
    <p-button label="Search" class="serach_btn"(click)="search(searchSentence)"></p-button>
  </div>
  <div class="right">
    <div class="text">
      <p class="result">
        {{    result }}
      </p>
    </div>
    <div class="btns">
      <button pButton type="button" icon="pi pi-copy" label="Copy" iconPos="right" (click)="copy()"></button>
      <button pButton type="button" icon="pi pi-eraser" iconPos="right"(click)="delete(searchSentence)"></button>
    </div>

    <div class="control_icons"></div>
  </div>
</div>