* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.left,
.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.left {
  background-color: #f2f2f2;
}
.right {
  background: linear-gradient(to bottom, #f1b1d785 0%, #8f8fec86 100%);
}

.input,
.text {
  width: 70%;
  height: 300px;
  background-color: #fff;
}
.serach_btn{
padding: 15px;
width: 200px !important;
}
